<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Customer List</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="customerList" id="customers">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{user.title-list}]]</h4>
                            </div>
                            <div th:if="${users != null and !users.empty}">
                                <table class="table table-stryped">
                                    <thead class="bg-dark text-white">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{user.name}">Name</th>
                                            <th th:text="#{user.email}">Email</th>
                                            <th th:text="#{user.phone}">Phone</th>
                                            <th th:text="#{user.balance}">Balance</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user, counter : ${users}">
                                            <td>[[${counter.count}]]</td>
                                            <td>[[${user.name} + ' ' + ${user.last_name}]]</td>
                                            <td>[[${user.email}]]</td>
                                            <td>[[${user.phone}]]</td>
                                            <td>&#36; [[${user.amount}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/edit/} + ${user.idUser}"
                                                   class="btn btn-warning">
                                                    <i class="fa-solid fa-pen"></i> [[#{action.edit}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/delete(idUser=${user.idUser})}"
                                                   class="btn btn-danger">
                                                    <i class="fa-solid fa-trash"></i> [[#{action.delete}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${users == null or users.empty}">
                                <span th:text="#{user.emptyList}">Empty List</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card text-center bg-danger text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{user.totalBalance}">Total Balance</h3>
                                <h4 class="display-6">
                                    &#36; [[${totalBalance}]]
                                </h4>
                            </div>
                        </div>

                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{user.totalCustomers}">Total Customers</h3>
                                <h4 class="display-6">
                                    <i class="fas fa-users"></i> [[${totalCustomers}]]
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

